body{
    margin-top: 50px
}

.all-width{
    width: 100%;
}
.center-txt{
    text-align: center;
}

.mgn-btm-10{
    margin-bottom: 10px;
}

.hyt-300{
    height: 300px;
}

.clr-white{
    color: white;
}

.bg-clr-black{
    background-color: black;
}

.bg-color-purple{
    background-color: purple;
}

.bg-color-powderblue{
    background-color: powderblue;
}

.txt-center{
    text-align: center;
    vertical-align:middle;
}

.tv{
    position: relative;
    
}
.control-buttons, .tv-channels{
    display: flex;
    position: absolute;
    bottom: 82px;
    left: 43%;
    /* background-color: green; */

}
.tv-channels{
    left: 33%;
    top: 27%
}
.control-buttons img{
    margin-left:30px;
    height: 20px;
}
.on-off-button{
 padding-left: 60px;
 bottom: 2px;
}
